<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banana Solitaire</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/Ressources/style_banana_solitaire.css">
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="absolute inset-0 flex items-center justify-center">
            <div class="background-text"></div>
        </div>

        <div class="carte-wrapper">
            <div class="carte" id="carte"></div>
        </div>

        <div class="info-box">
            <div id="nomJoueur"></div>
            <div class="case-modifiable" id="case-modifiable">

            </div>
            <div class="piocher-button-wrapper">
                <button class="piocher-button" id="piocherButton" hidden="true">Piocher</button>
                <button class="valider-button" id="validerButton" hidden="true">Valider</button>
                <button id="menu" onclick="returMenu()">Retour au menu</button>
                <button id="Reset" onclick="ResetPartie()" hidden=true>Reset</button>
            </div>
        </div>

        <div class="boutons-zoom">
            <button id="zoomIn">+</button>
            <button id="zoomOut">-</button>
        </div>

        <div class="nom-joueur-container" id="ConnexionDiv">
            <div>Connexion Serveur : </div>
            <input type="text" id="nomJoueurInput" placeholder="Nom">
            <input type="text" id="TailleDeck" placeholder="Taille Main">
            <button class="connecter-button" id="connecterButton" onclick="desacConnexion()">Se connecter</button>


        </div>
    </div>

    <script>
        const socket = io()
        const carte = document.querySelector('#carte');
        const zoomInButton = document.getElementById('zoomIn');
        const zoomOutButton = document.getElementById('zoomOut');
        const piocherButton = document.getElementById('piocherButton');
        const validerButton = document.getElementById('validerButton');
        const caseModifiable = document.getElementById('case-modifiable');
        const nomJoueurElement = document.getElementById('nomJoueur');
        const TailleDeck = document.getElementById('TailleDeck')
        const nomJoueurInput = document.getElementById('nomJoueurInput');
        const connecterButton = document.getElementById('connecterButton');
        const AuTourDeElement = document.getElementById("AuTourDe");
        let tailleDeck = 0;
        let deck = []
        let positionsLettresPosees = [];
        var nomJoueur;

        //Réinitialisation de la partie
        function ResetPartie() {
            socket.emit('ResetPartieSolitaire')
            document.getElementById('ConnexionDiv').hidden = false
            document.getElementById('piocherButton').hidden = true
            document.getElementById('validerButton').hidden = true
            document.getElementById('menu').hidden = false
            document.getElementById('Reset').hidden = true
            deck = []
            tailleDeck = 0
            carte.innerHTML = '';
            genererGrille()
            remiseenmain()
            document.getElementById('nomJoueur').textContent = "Reconnectez vous pour relancer une partie"
        }

        function genererGrille() {
            for (let i = 0; i < 32 * 32; i++) {
                const cellule = document.createElement('div');
                cellule.classList.add('case');
                cellule.setAttribute('draggable', 'false');
                cellule.addEventListener('dragover', gererDragOver);
                cellule.addEventListener('drop', gererDrop);
                carte.appendChild(cellule);
            }
        }

        function returMenu() {
            socket.emit('ResetPartieSolitaire')
            window.location.href = 'BananaGramms.html'
        }

        function genererLettresCentre(lettresListe) {
            //Génère les 5 premières cartes du centre du plateau
            const ligneCentre = 31;
            const colonneCentre = 31;
            for (let i = 0; i < 1; i++) {
                const lettre = lettresListe[i];
                const indexCellule = (ligneCentre + i) * 32 + colonneCentre;
                const cellule = carte.children[indexCellule];
                const elementLettre = document.createElement('span');
                elementLettre.classList.add('lettre');
                elementLettre.textContent = lettre;
                cellule.appendChild(elementLettre);;
            }
        }

        function genererLettresInitiales(maindepart) {
            //Génère le deck du joueur
            deck = maindepart
            const elementsLettre = caseModifiable.querySelectorAll('.lettre');
            var i = 0
            for (var j = 0; j < tailleDeck; j++) {
                const nouvelleCase = document.createElement('div');
                nouvelleCase.classList.add('case');
                nouvelleCase.style.backgroundColor = '#f0f0f0';
                const nouvelleLettre = document.createElement('span');
                nouvelleLettre.classList.add('lettre');
                nouvelleLettre.textContent = maindepart[i];
                nouvelleLettre.setAttribute('id', 'lettre' + Math.random());
                nouvelleCase.appendChild(nouvelleLettre);
                caseModifiable.appendChild(nouvelleCase);
                nouvelleLettre.setAttribute('draggable', 'true');
                nouvelleLettre.addEventListener('dragstart', gererDragStart);
                i++
            };
        }

        function FindPremierIndice() {
            //Renvoie l'indice de la première lettre trouvée sur la grille
            const cellules = document.querySelectorAll('.case');
            var index = 0
            for (index; index < 1024; index++) {
                if (estLettre(cellules[index].textContent)) {
                    return index
                }
            }
        }

        function estLettre(val) {
            return /^[A-Za-z]$/.test(val);
        }


        function voisins(point) {
            return [point + 1, point - 1, point + 32, point - 32];
        }
        function parcoursLargeur(pointDepart) {
            //Parcours en largeur depuis le point de départ
            const cellules = document.querySelectorAll('.case');
            aTraiter = []
            chemin = []
            aTraiter.push(pointDepart)
            while (aTraiter.length > 0) {
                var elt = aTraiter.shift()
                for (var v of voisins(elt)) {
                    if (!(v in chemin) && cellules[v].textContent != "" && !(chemin.includes(v))) {
                        chemin.push(v)
                        aTraiter.push(v)
                    }
                }
            }
            return chemin
        }

        function construitMotsHorizontaux(listeIndices) {
            //Crée une liste de sous-listes chacune contenant les id des lettres d'un mot horizontal
            listeIndices.sort();
            listeTemp = [];
            res = [];
            for (elt of listeIndices) {
                if (listeIndices.includes(elt + 1)) {
                    listeTemp.push(elt);
                }
                else {
                    listeTemp.push(elt)
                    if (listeTemp.length > 1) {
                        res.push(listeTemp)
                    }
                    listeTemp = []
                }
            }
            return res
        }

        function construitMotsVerticaux(listeIndices) {
            //Crée une liste de sous-listes chacune contenant les id des lettres d'un mot vertical
            listeIndices.sort();
            i = 0;
            res = [];
            dejaVu = [];
            while (i < listeIndices.length) {
                aVisiter = listeIndices[i]
                dejaVu.push(aVisiter)
                listeTemp = []
                while (listeIndices.includes(aVisiter) && !(dejaVu.includes(aVisiter + 32))) {
                    listeTemp.push(aVisiter)
                    aVisiter += 32
                    dejaVu.push(aVisiter)
                }
                if (listeTemp.length > 1) {
                    res.push(listeTemp)
                }
                i += 1;
            }
            return res
        }


        function analyserGrille() {
            const cellules = document.querySelectorAll('.case')
            tab = parcoursLargeur(FindPremierIndice())
            var valide = tab.length == tailleDeck; //Vérifie si le bloc de lettres trouvé contient bien toutes les lettres du deck du joueur (un seul bloc de lettres)
            if (valide) {
                var idMotsVerticaux = construitMotsVerticaux(tab);
                var idMotsHorizontaux = construitMotsHorizontaux(tab);
                console.log("Vertical: " + idMotsVerticaux + '\nHorizontal: ' + idMotsHorizontaux + "\nParcours: " + tab);
                var listeTotale = idMotsHorizontaux.concat(idMotsVerticaux) //Liste de sous-listes d'id de tous les mots de la grille
                var listeMots = [];
                for (elt of listeTotale) {
                    var mot = "";
                    for (lettre of elt) {
                        mot += cellules[lettre].textContent; //Récupère la lettre correspondant à l'id pour reconstruire les mots
                    }
                    listeMots.push(mot)
                }
                console.log(listeMots)
                socket.emit('verifierMotsSolitaire', listeMots) //Envoi des mots au serveur pour vérifier leur existence
            }
            else {
                document.getElementById('nomJoueur').textContent = "Il faut placer toute tes lettres et en un même bloc"
                resetLettresPosees(1);
            }
        }






        function sauvegarderPositionLettre(lettreElement) {
            //Mets dans un tableau la position des lettres posées sur le plateau
            const cellule = lettreElement.parentElement;
            const indexCellule = Array.from(carte.children).indexOf(cellule);

            positionsLettresPosees.push({
                index: indexCellule,
                lettre: lettreElement.textContent,
                cellule: cellule
            });
        }

        function remiseenmain() {
            //Renvoie les cartes posées dans la main du joueur
            caseModifiable.innerHTML = '';
            for (i of deck) {
                const nouvelleCase = document.createElement('div');
                nouvelleCase.classList.add('case');
                nouvelleCase.style.backgroundColor = '#f0f0f0';
                const nouvelleLettre = document.createElement('span');
                nouvelleLettre.classList.add('lettre');
                nouvelleLettre.textContent = i;
                nouvelleLettre.setAttribute('id', 'lettre' + Math.random());
                nouvelleCase.appendChild(nouvelleLettre);
                caseModifiable.appendChild(nouvelleCase);

                nouvelleLettre.setAttribute('draggable', 'true');
                nouvelleLettre.addEventListener('dragstart', gererDragStart);
            }
        }


        function resetLettresPosees(valeur) {
            if (valeur == 0) {
                positionsLettresPosees = [];
                return 0;
            } else {
                positionsLettresPosees.forEach(position => {
                    const { index, lettre, cellule } = position;

                    const lettreElement = cellule.querySelector('.lettre');
                    if (lettreElement) {
                        cellule.removeChild(lettreElement);
                    }
                });
                remiseenmain()
                positionsLettresPosees = [];
                console.log("Les lettres posées ont été réinitialisées.");
            }
        }

        function gererDragStart(event) {
            event.dataTransfer.setData('text', event.target.id);
        }

        function gererDragOver(event) {
            event.preventDefault();
        }

        function desacConnexion() {
            document.getElementsByClassName("nom-joueur-container").hidden = "true"
        }

        function gererDrop(event) {
            event.preventDefault();

            const lettreId = event.dataTransfer.getData('text');
            const elementLettre = document.getElementById(lettreId);
            const celluleCible = event.target;

            if (celluleCible.classList.contains('case')) {
                if (!celluleCible.hasChildNodes()) {
                    celluleCible.appendChild(elementLettre);
                } else {
                    const lettreExistante = celluleCible.querySelector('.lettre');
                    if (lettreExistante) {
                        caseModifiable.appendChild(lettreExistante);
                    }
                    celluleCible.appendChild(elementLettre);
                }
                elementLettre.setAttribute('draggable', 'true');
                elementLettre.addEventListener('dragstart', gererDragStart);
                sauvegarderPositionLettre(elementLettre);
                supprimerCaseVide();
            }
        }



        function supprimerCaseVide() {
            const casesSousNom = caseModifiable.querySelectorAll('.case');
            casesSousNom.forEach(caseElement => {
                if (!caseElement.hasChildNodes()) {
                    caseElement.remove();
                }
            });
        }

        function activerDragPourLettres() {
            const elementsLettre = caseModifiable.querySelectorAll('.lettre');
            elementsLettre.forEach(lettre => {
                lettre.setAttribute('draggable', 'true');
                lettre.addEventListener('dragstart', gererDragStart);
            });
        }

        function ajouterLettreAIndex(index, lettre) {
            const cellule = carte.children[index];
            const elementLettre = document.createElement('span');
            elementLettre.classList.add('lettre');
            elementLettre.textContent = lettre;
            cellule.appendChild(elementLettre)
        }

        piocherButton.addEventListener('click', () => {
            tailleDeck++
            socket.emit('DemandePiocheSolitaire')
        });


        validerButton.addEventListener('click', () => {
            const motsTrouves = []
            analyserGrille();
            if (motsTrouves.length === 0) {
                console.log("Aucun mot formé !");
                return;
            }
            console.log("Envoi des mots au serveur pour validation :", motsTrouves);
            socket.emit('verifierMotsSolitaire', motsTrouves);
        });



        connecterButton.addEventListener('click', () => {
            document.getElementById('ConnexionDiv').hidden = true
            document.getElementById('menu').hidden = true
            document.getElementById('piocherButton').hidden = false
            document.getElementById('validerButton').hidden = false
            nomJoueur = nomJoueurInput.value;
            nombreDeck = TailleDeck.value;
            tailleDeck = nombreDeck;
            console.log(nomJoueur)
            console.log(nombreDeck)
            if (nomJoueur && nombreDeck) {
                socket.emit("connexionBSolitaire", nombreDeck)
                document.getElementById('nomJoueur').textContent = "Bonne Chance " + nomJoueur + " !"
            } else {
                alert('Veuillez entrer un nom de joueur et la taille de votre deck');
            }
        });


        socket.on('RetourPiocheSolitaire', (data) => {
            //Ajoute au deck du joueur la carte piochée
            carteTire = data
            deck.push(carteTire)
            const nouvelleCase = document.createElement('div');
            nouvelleCase.classList.add('case');
            nouvelleCase.style.backgroundColor = '#f0f0f0';
            const nouvelleLettre = document.createElement('span');
            nouvelleLettre.classList.add('lettre');
            nouvelleLettre.textContent = carteTire;
            nouvelleLettre.setAttribute('id', 'lettre' + Math.random());
            nouvelleCase.appendChild(nouvelleLettre);
            caseModifiable.appendChild(nouvelleCase);
            nouvelleLettre.setAttribute('draggable', 'true');
            nouvelleLettre.addEventListener('dragstart', gererDragStart);
        })


        socket.on('MainDepartBSolitaire', (data) => {
            genererLettresInitiales(data)
            genererLettresCentre(["X"])
            document.getElementById('piocherButton').hidden = false
            document.getElementById('validerButton').hidden = false
        })



        socket.on('resultatValidationMotsSolitaire', (tousValides) => {
            //Appel de resetLettresPosees en fonction du booléen tousValides
            if (tousValides) {

                if (document.querySelectorAll("#case-modifiable .lettre").length > 0) {
                    console.log("Tous les mots sont valides mais le deck pas utilisée entierement");
                    document.getElementById('nomJoueur').textContent = "Il faut placer toute tes lettres pour gagner"
                    resetLettresPosees(1)
                    return
                }

                if (document.querySelectorAll("#case-modifiable .lettre").length == 0) {
                    document.getElementById('nomJoueur').textContent = "Victoire !!!!"
                    document.getElementById('Reset').hidden = false
                    document.getElementById('piocherButton').hidden = true
                    document.getElementById('validerButton').hidden = true
                    console.log("Victoire")
                }

            } else {
                console.log("Certains mots sont invalides. Réinitialisation des lettres.");
                document.getElementById('nomJoueur').textContent = "Dommage, réessaye !"
                resetLettresPosees(1);
            }
        });
        zoomInButton.addEventListener('click', () => {
            carte.style.transform = 'scale(1.2)';
        });

        zoomOutButton.addEventListener('click', () => {
            carte.style.transform = 'scale(0.8)';
        });




        document.addEventListener('DOMContentLoaded', (event) => {
            genererGrille();
        });



    </script>
</body>

</html>