<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banana Solitaire</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/Ressources/style_banana_solitaire.css">
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="absolute inset-0 flex items-center justify-center">
            <div class="background-text"></div>
        </div>

        <div class="carte-wrapper">
            <div class="carte" id="carte"></div>
        </div>

        <div class="info-box">
            <div id="nomJoueur">Bonne Chance !</div>
            <div class="case-modifiable" id="case-modifiable">

            </div>
            <div class="piocher-button-wrapper">
                <button class="piocher-button" id="piocherButton">Piocher</button>
                <button class="valider-button" id="validerButton">Valider</button>
            </div>
        </div>

        <div class="boutons-zoom">
            <button id="zoomIn">+</button>
            <button id="zoomOut">-</button>
        </div>

        <div class="nom-joueur-container" id="ConnexionDiv">
            <div>Connexion Serveur : </div>
            <input type="text" id="nomJoueurInput" placeholder="Nom">
            <input type="text" id="TailleDeck" placeholder="Taille Main">
            <button class="connecter-button" id="connecterButton" onclick="desacConnexion()">Se connecter</button>

        </div>
    </div>

    <script>
        const socket = io()
        const carte = document.querySelector('#carte');
        const zoomInButton = document.getElementById('zoomIn');
        const zoomOutButton = document.getElementById('zoomOut');
        const piocherButton = document.getElementById('piocherButton');
        const validerButton = document.getElementById('validerButton');
        const caseModifiable = document.getElementById('case-modifiable');
        const nomJoueurElement = document.getElementById('nomJoueur');
        const TailleDeck = document.getElementById('TailleDeck')
        const nomJoueurInput = document.getElementById('nomJoueurInput');
        const connecterButton = document.getElementById('connecterButton');
        const AuTourDeElement = document.getElementById("AuTourDe");
        let tailleDeck = 0;
        let positionsLettresPosees = [];
        var nomJoueur;

        function genererGrille() {
            for (let i = 0; i < 32 * 32; i++) {
                const cellule = document.createElement('div');
                cellule.classList.add('case');
                cellule.setAttribute('draggable', 'false');
                cellule.addEventListener('dragover', gererDragOver);
                cellule.addEventListener('drop', gererDrop);
                carte.appendChild(cellule);
            }
        }

        function genererLettresCentre(lettresListe) {
            //Génère les 5 premières cartes du centre du plateau
            const ligneCentre = 31;
            const colonneCentre = 31;
            for (let i = 0; i < 1; i++) {
                const lettre = lettresListe[i];
                const indexCellule = (ligneCentre + i) * 32 + colonneCentre;
                const cellule = carte.children[indexCellule];
                const elementLettre = document.createElement('span');
                elementLettre.classList.add('lettre');
                elementLettre.textContent = lettre;
                cellule.appendChild(elementLettre);;
            }
        }

        function genererLettresInitiales(maindepart) {
            //Génère le deck du joueur
            const elementsLettre = caseModifiable.querySelectorAll('.lettre');
            var i = 0
            for (var j = 0; j < tailleDeck; j++) {
                const nouvelleCase = document.createElement('div');
                nouvelleCase.classList.add('case');
                nouvelleCase.style.backgroundColor = '#f0f0f0';
                const nouvelleLettre = document.createElement('span');
                nouvelleLettre.classList.add('lettre');
                nouvelleLettre.textContent = maindepart[i];
                nouvelleLettre.setAttribute('id', 'lettre' + Math.random());
                nouvelleCase.appendChild(nouvelleLettre);
                caseModifiable.appendChild(nouvelleCase);
                nouvelleLettre.setAttribute('draggable', 'true');
                nouvelleLettre.addEventListener('dragstart', gererDragStart);
                i++
            };
        }


        //Fonction qui cherche les mots horizontaux et verticaux
        function trouverMots() {
            const grille = document.querySelectorAll('.case');
            const taille = 32;  // taille de la grille
            let mots = [];

            // Fonction pour vérifier une séquence de cellules
            function extraireMot(sequence) {
                let mot = '';
                for (let i = 0; i < sequence.length; i++) {
                    if (sequence[i].textContent.trim() !== '') {
                        mot += sequence[i].textContent;
                    } else {
                        if (mot.length > 1) {
                            mots.push(mot);  // Ajouter le mot si sa longueur est supérieure à 1
                        }
                        mot = '';  // Réinitialiser le mot
                    }
                }
                if (mot.length > 1) {
                    mots.push(mot);  // Ajouter le dernier mot trouvé
                }
            }

            // Trouver les mots horizontaux
            for (let i = 0; i < taille; i++) {
                const ligne = [];
                for (let j = 0; j < taille; j++) {
                    ligne.push(grille[i * taille + j]);
                }
                extraireMot(ligne);
            }

            // Trouver les mots verticaux
            for (let j = 0; j < taille; j++) {
                const colonne = [];
                for (let i = 0; i < taille; i++) {
                    colonne.push(grille[i * taille + j]);
                }
                extraireMot(colonne);
            }

            console.log(mots)
            return mots;
        }


        function sauvegarderPositionLettre(lettreElement) {
            //Mets dans un tableau la position des lettres posées sur le plateau
            const cellule = lettreElement.parentElement;
            const indexCellule = Array.from(carte.children).indexOf(cellule);

            positionsLettresPosees.push({
                index: indexCellule,
                lettre: lettreElement.textContent,
                cellule: cellule
            });
        }


        function resetLettresPosees(valeur) {
            if (valeur == 0) {
                positionsLettresPosees = [];
                return 0;
            } else {
                positionsLettresPosees.forEach(position => {
                    const { index, lettre, cellule } = position;
                    const lettreElement = cellule.querySelector('.lettre');
                    if (lettreElement) {
                        cellule.removeChild(lettreElement);
                    }
                    const nouvelleCase = document.createElement('div');
                    nouvelleCase.classList.add('case');
                    nouvelleCase.style.backgroundColor = '#f0f0f0';
                    const nouvelleLettre = document.createElement('span');
                    nouvelleLettre.classList.add('lettre');
                    nouvelleLettre.textContent = lettre;
                    nouvelleLettre.setAttribute('id', 'lettre' + Math.random());
                    nouvelleCase.appendChild(nouvelleLettre);
                    caseModifiable.appendChild(nouvelleCase);

                    nouvelleLettre.setAttribute('draggable', 'true');
                    nouvelleLettre.addEventListener('dragstart', gererDragStart);
                });
                positionsLettresPosees = [];
                console.log("Les lettres posées ont été réinitialisées.");
            }
        }


        function gererDragStart(event) {
            event.dataTransfer.setData('text', event.target.id);
        }

        function gererDragOver(event) {
            event.preventDefault();
        }

        function desacConnexion() {
            document.getElementsByClassName("nom-joueur-container").hidden = "true"
        }

        function gererDrop(event) {
            event.preventDefault();

            const lettreId = event.dataTransfer.getData('text');
            const elementLettre = document.getElementById(lettreId);
            const celluleCible = event.target;

            if (celluleCible.classList.contains('case')) {
                if (!celluleCible.hasChildNodes()) {
                    celluleCible.appendChild(elementLettre);
                } else {
                    const lettreExistante = celluleCible.querySelector('.lettre');
                    if (lettreExistante) {
                        caseModifiable.appendChild(lettreExistante);
                    }
                    celluleCible.appendChild(elementLettre);
                }
                elementLettre.setAttribute('draggable', 'true');
                elementLettre.addEventListener('dragstart', gererDragStart);
                sauvegarderPositionLettre(elementLettre);
                supprimerCaseVide();
            }
        }



        function supprimerCaseVide() {
            const casesSousNom = caseModifiable.querySelectorAll('.case');
            casesSousNom.forEach(caseElement => {
                if (!caseElement.hasChildNodes()) {
                    caseElement.remove();
                }
            });
        }

        function activerDragPourLettres() {
            const elementsLettre = caseModifiable.querySelectorAll('.lettre');
            elementsLettre.forEach(lettre => {
                lettre.setAttribute('draggable', 'true');
                lettre.addEventListener('dragstart', gererDragStart);
            });
        }

        function ajouterLettreAIndex(index, lettre) {

            const cellule = carte.children[index];
            const elementLettre = document.createElement('span');
            elementLettre.classList.add('lettre');
            elementLettre.textContent = lettre;
            cellule.appendChild(elementLettre)
        }

        function aVoisinAvecLettre(cellule) {
            //Vérifie si la lettre posée est mise à côté d'une autre lettre du plateau
            const index = Array.from(carte.children).indexOf(cellule);
            const lignes = 32;
            const colonnes = 32;

            const voisins = [
                index - colonnes,
                index + colonnes,
                index - 1,
                index + 1
            ];

            return voisins.some((voisinIndex) => {
                if (voisinIndex >= 0 && voisinIndex < lignes * colonnes) {
                    const voisin = carte.children[voisinIndex];
                    return voisin.hasChildNodes();
                }
                return false;
            });
        }

        piocherButton.addEventListener('click', () => {
            socket.emit('DemandePiocheSolitaire')

        });


        validerButton.addEventListener('click', () => {


            const motsTrouves = trouverMots();

            if (motsTrouves.length === 0) {
                console.log("Aucun mot formé !");
                return;
            }

            console.log("Envoi des mots au serveur pour validation :", motsTrouves);
            socket.emit('verifierMotsSolitaire', motsTrouves);

        });



        connecterButton.addEventListener('click', () => {
            nomJoueur = nomJoueurInput.value;
            nombreDeck = TailleDeck.value;
            tailleDeck = nombreDeck;
            console.log(nomJoueur)
            console.log(nombreDeck)
            if (nomJoueur && nombreDeck) {
                socket.emit("connexionBSolitaire", nombreDeck)
            } else {
                alert('Veuillez entrer un nom de joueur et la taille de votre deck');
            }
        });


        socket.on('RetourPiocheSolitaire', (data) => {
            //Ajoute au deck du joueur la carte piochée
            carteTire = data
            const nouvelleCase = document.createElement('div');
            nouvelleCase.classList.add('case');
            nouvelleCase.style.backgroundColor = '#f0f0f0';
            const nouvelleLettre = document.createElement('span');
            nouvelleLettre.classList.add('lettre');
            nouvelleLettre.textContent = carteTire;
            nouvelleLettre.setAttribute('id', 'lettre' + Math.random());
            nouvelleCase.appendChild(nouvelleLettre);
            caseModifiable.appendChild(nouvelleCase);
            nouvelleLettre.setAttribute('draggable', 'true');
            nouvelleLettre.addEventListener('dragstart', gererDragStart);
        })


        socket.on('MainDepart', (data) => {
            genererLettresInitiales(data)
            genererLettresCentre(["A", "A", "A", "A", "A"])
        })



        socket.on('resultatValidationMotsSolitaire', (tousValides) => {
            //Appel de resetLettresPosees en fonction du booléen tousValides
            if (tousValides) {

                if (document.querySelectorAll("#case-modifiable .lettre").length > 0) {
                    console.log("Tous les mots sont valides mais le deck pas utilisée entierement");
                    document.getElementById('nomJoueur').textContent = "Il faut placer toute tes lettres pour gagner"
                    resetLettresPosees(1)
                    return
                }

                if (document.querySelectorAll("#case-modifiable .lettre").length == 0) {
                    document.getElementById('nomJoueur').textContent = "Victoire !!!!"
                    console.log("Victoire")
                }

            } else {
                console.log("Certains mots sont invalides. Réinitialisation des lettres.");
                document.getElementById('nomJoueur').textContent = "Dommage, réessaye !"
                resetLettresPosees(1);
            }
        });
        zoomInButton.addEventListener('click', () => {
            carte.style.transform = 'scale(1.2)';
        });

        zoomOutButton.addEventListener('click', () => {
            carte.style.transform = 'scale(0.8)';
        });




        document.addEventListener('DOMContentLoaded', (event) => {
            genererGrille();
        });



    </script>
</body>

</html>