<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Ressources/style_index.css">
    <title>Menu des jeux</title>
</head>

<body>
    <h1>Menu Principal</h1>
    <div class="button-container">
        <button id="btn-long-word">Le Plus Long Mot</button>
        <button id="btn-le-compte-est-bon">Le Compte est Bon</button>
        <button id="btn-chiffre-lettre">Des Chiffres et des Lettres</button>
        <button id="btn-opti-mot">Opti'Mot</button>
        <button id="btn-bananaGramms">BananaGramms</button>
    </div>

    <script>
        document.getElementById('btn-long-word').addEventListener('click', function () {
            window.location.href = 'le_plus_long.html';
        });

        document.getElementById('btn-opti-mot').addEventListener('click', function () {
            window.location.href = 'OptiMot.html';;
        });

        document.getElementById('btn-bananaGramms').addEventListener('click', function () {
            window.location.href = 'BananaGramms.html';;
        });

        document.getElementById('btn-le-compte-est-bon').addEventListener('click', function () {
            window.location.href = 'le_compte_est_bon.html';;
        });

        document.getElementById('btn-chiffre-lettre').addEventListener('click', function () {
            window.location.href = 'chiffre_lettre.html';;
        });


    </script>
</body>

</html>