<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Ressources/style_index.css">
    <title>Menu des jeux</title>
</head>

<body>
    <h1>Menu Principal</h1>
    <div class="button-container">
        <button id="btn-chiffre-lettre">Des Chiffres et des Lettres</button>
        <button id="btn-bananaGramms">BananaGramms</button>
        <button id="btn-opti-mot">Opti'Mot</button>
    </div>

    <script>
        document.getElementById('btn-chiffre-lettre').addEventListener('click', function () {
            window.location.href = 'menu_chiffre_lettre';
        });

        document.getElementById('btn-opti-mot').addEventListener('click', function () {
            window.location.href = 'OptiMot.html';;
        });

        document.getElementById('btn-bananaGramms').addEventListener('click', function () {
            window.location.href = 'BananaGramms.html';;
        });


    </script>
</body>

</html>