<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Ressources/style_index.css">
    <title>Menu des jeux</title>
</head>

<body>
    <h1>Menu</h1>
    <div class="button-container">
        <button id="btn-long-word">Le Plus Long Mot</button>
        <button id="btn-opti-mot">Opti'Mot</button>
    </div>

    <script>
        document.getElementById('btn-long-word').addEventListener('click', function () {
            window.location.href = 'le_plus_long.html'; // Redirige vers une nouvelle page
        });

        document.getElementById('btn-opti-mot').addEventListener('click', function () {
            alert("Opti'Mot");
        });
    </script>
</body>

</html>